.list{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    height: 25%;
    border: 2px solid;
}
.buttonGroup{
    width: 78px;
    height: 40px;
}

.listContent{
    display: flex;
    width: 100%;
    align-items: center;
    font-family: fantasy;
    justify-content: space-around;
    font-style: italic;
    font-size: 23px;
    height: 100%;
}

.css-1vsmau8-MuiButtonGroup-root .MuiButtonGroup-lastButton{
    margin-left: 6px;
    margin-right: 0px;
}

.css-1vsmau8-MuiButtonGroup-root .MuiButtonGroup-firstButton{
    margin-left: 0;
}