.list{
    margin-top: 10px;
    width: 50%;
    display: flex;
    height: 100%;
}
.buttonGroup{
    width: 65px;
    height: 57px;
}

.listContent{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    font-family: fantasy;
    font-style: italic;
    font-size: 23px;
    height: 300px;
}