.parentModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideDown 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .modal {
    width: 80%;
    height: 80%;
    position: absolute;
    background-image: url(/src/Images/1_Gd6fni3JUnFTyNoCCcKxTw.jpg);
    overflow: auto;
  }
  
  .modal-exit {
    transform: translateY(0);
  }
  .modal-exit-active {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out; /* Adjust the duration and easing as needed */
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }