.footer{
    position: relative;
    height: 6%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
a.MuiButtonBase-root{
     position: absolute;
      bottom: 0;
       left:2%; 
       height: 100%;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSuccess.MuiButton-sizeMedium.MuiButton-containedSizeMedium{
    margin-right: 10px;
}