.app{
  background: blanchedalmond;
  width: 42%;
  height: 84vh;
  border-radius: 20px;
  margin-top: 27px;
}
/* #root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */